{% extends 'encabezado.html' %}

{% block body  %}
<form action="/actualizarProducto/{{producto.0}}" method="POST">
    <h1>Formulario de edición</h1>
    <input type="text"  name="nombre" placeholder="Nombre" value="{{producto.1}}"><br>
    <input type="number" name="precio" placeholder="Precio" value="{{producto.2}}"><br>
    <input type="number" name="stock" placeholder="Stock" value="{{producto.3}}"><br>
    <input type="text" name="imagen" placeholder="Imagen" value="{{producto.4}}"><br>

    <select name="proveedor" id="">
        {% for p in proveedor %}
        {%if p[0] == producto.5 %}
        <option value="{{p.0}}">{{p.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
       {% endif %}
        {% endfor %}
        {% for p in proveedor %}
        <option value="{{p.0}}">{{p.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
        {% endfor %}
    </select><br>
        <select name="marca" id="">
            {% for m in marcas %}
            {%if m[0] == producto.6%}
            <option value="{{m.0}}">{{m.1}} {{m.2}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
            y luego imprimo primero el nombre y luego el numero-->
           {% endif %}
            {% endfor %}
            {% for m in marcas %}
            <option value="{{m.0}}">{{m.1}} {{m.2}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
            y luego imprimo primero el nombre y luego el numero-->
            {% endfor %}
    </select><br>
        <button type="submit">Enviar</button>
</form>
{% with messages = get_flashed_messages()%}
{%if messages%}
{%for mensaje in messages%}
<p>{{mensaje}}</p>
{%endfor%}
{%endif%}
{%endwith%}
{% endblock  %}