<form action="/actualizarCarrito/{{carrito.0}}" method="POST">
    <h1>Formulario de edición</h1>
    <input type="text"  name="fecha" placeholder="Fecha" value="{{carrito.1}}"><br>
    <input type="number" name="cantidad" placeholder="Cantidad" value="{{carrito.2}}"><br>
    <input type="number" name="precio" placeholder="Precio" value="{{carrito.3}}"><br>
    <input type="number" name="precio_total" placeholder="Precio Total" value="{{carrito.4}}"><br>

    <select name="forma" id="">
        {% for f in forma %}
        {%if f[0] == carrito.5 %}
        <option value="{{f.0}}">{{f.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
       {% endif %}
        {% endfor %}
        {% for f in forma %}
        <option value="{{f.0}}">{{f.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
        {% endfor %}
    </select><br>
        <select name="dni" id="">
        {% for c in cliente %}
        {%if c[0] == carrito.6 %}
        <option value="{{c.0}}">{{c.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
        {% endif %}
        {% endfor %}
        {% for c in cliente %}
        <option value="{{c.0}}">{{c.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
        {% endfor %}
    </select><br>
        <select name="codigo" id="">
            {% for p in producto %}
            {%if p[0] == carrito.7 %}
            <option value="{{p.0}}">{{p.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
            y luego imprimo primero el nombre y luego el numero-->
           {% endif %}
            {% endfor %}
            {% for p in producto %}
            <option value="{{p.0}}">{{p.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
            y luego imprimo primero el nombre y luego el numero-->
            {% endfor %}
    </select><br>
        <button type="submit">Enviar</button>
</form>
{% with messages = get_flashed_messages()%}
{%if messages%}
{%for mensaje in messages%}
<p>{{mensaje}}</p>
{%endfor%}
{%endif%}
{%endwith%}