{% extends 'encabezado.html' %}

{% block body  %}
<header>
<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Stock</td>
            <td>Imagen</td>
            <td>Proveedor</td>
            <td>Marca</td>
        </tr>
    </thead>
</header>
    <tbody>
        {% for p in productos %} <!-- doble llave para que imprima una sola para que se ejecute -->
        <tr>
            <td>{{p.0}}</td>
            <td>{{p.1}}</td>
            <td>{{p.2}}</td>
            <td>{{p.3}}</td>
            <td>{{p.4}}</td>
            <td>{{p.5}}</td>
        </tr>
{% endfor %} 
    <a href="/registrarCliente"style="text-decoration:none" > <button>Registrarse</button> </a>&nbsp;  <!-- la paso la clave primaria -->
    <a href="/registrarProducto"style="text-decoration:none" > <button>Crear una publicación</button> </a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/registrarDireccion"style="text-decoration:none" ><button>Registrar una Dirección</button></a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/registrarFormaDePago"style="text-decoration:none" ><button>Registrar una forma de pago</button></a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/registrarCarrito"style="text-decoration:none" ><button>Registrar Carrito</button></a>&nbsp; <!-- la paso la clave primaria -->
{% with messages = get_flashed_messages()%}
{%if messages%}
{%for mensaje in messages%}
<p>{{mensaje}}</p>
{%endfor%}
{%endif%}
{%endwith%}
{% endblock  %}
</table>
</tbody>