<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Stock</td>
            <td>Imagen</td>
            <td>Proveedor</td>
            <td>Marca</td>
        </tr>
    </thead>
    <tbody>
        {% for p in productos %} <!-- doble llave para que imprima una sola para que se ejecute -->
        <tr>
            <td>{{p.0}}</td>
            <td>{{p.1}}</td>
            <td>{{p.2}}</td>
            <td>{{p.3}}</td>
            <td>{{p.4}}</td>
            <td>{{p.5}}</td>
        </tr>
{% endfor %} 
    <a href="/registrarCliente"style="text-decoration:none" >Registrarse</a>&nbsp;  <!-- la paso la clave primaria -->
    <a href="/administrarUsuarios"style="text-decoration:none" >Administrar Usuarios</a>&nbsp;  <!-- la paso la clave primaria -->
    <a href="/registrarProducto"style="text-decoration:none" >Crear una publicación</a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/listadoProductos"style="text-decoration:none" >Editar Publicación</a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/registrarDireccion"style="text-decoration:none" >Registrar una Dirección</a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/listadoDirecciones"style="text-decoration:none" >Editar una Dirección</a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/registrarFormaDePago"style="text-decoration:none" >Registrar una forma de pago</a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/listadoFormasDePago"style="text-decoration:none" >Editar forma de pago</a>&nbsp; <!-- la paso la clave primaria -->
    <a href="/registrarCarrito"style="text-decoration:none" >Registrar Carrito</a>&nbsp; <!-- la paso la clave primaria -->
    
    </tbody>
</table>
{% with messages = get_flashed_messages()%}
{%if messages%}
{%for mensaje in messages%}
<p>{{mensaje}}</p>
{%endfor%}
{%endif%}
{%endwith%}