<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Stock</td>
            <td>Imagen</td>
            <td>Marca</td>
        </tr>
    </thead>
    <tbody>
        {% for p in productos %} <!-- doble llave para que imprima una sola para que se ejecute -->
        <tr>
            <td>{{p.0}}</td>
            <td>{{p.1}}</td>
            <td>{{p.2}}</td>
            <td>{{p.3}}</td>
            <td>{{p.4}}</td>
        </tr>
{% endfor %} 
    <a href="/registrarCliente"style="text-decoration:none" >Registrarse</a>  <!-- la paso la clave primaria -->
    <a href="/loginCliente"style="text-decoration:none" >Logearse</a>  <!-- la paso la clave primaria -->
    <a href="/miUsuario"style="text-decoration:none" >Mi Usuario</a>  <!-- la paso la clave primaria -->
    </tbody>
</table>
{% with messages = get_flashed_messages()%}
{%if messages%}
{%for mensaje in messages%}
<p>{{mensaje}}</p>
{%endfor%}
{%endif%}
{%endwith%}