   <table>
   <h1>Formulario</h1>
   <tbody>
        {% for c in cliente %}
        <tr>
            <td>
        <option value="{{c.0}}">DNI: {{c.0}} NOMBRE: {{c.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
        <a href="/obtenerCliente/{{c.0}}"style="text-decoration:none">Login</a>&nbsp;  <!-- la paso la clave primaria -->
        </td>
        </tr>
        {% endfor %}
</tbody>
</table>
{% with messages = get_flashed_messages()%}
{%if messages%}
{%for mensaje in messages%}
<p>{{mensaje}}</p>
{%endfor%}
{%endif%}
{%endwith%}