<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Direccion</td>
        </tr>
    </thead>
    <tbody>
        {% for c in cliente %} <!-- doble llave para que imprima una sola para que se ejecute -->
        <tr>
            <td>{{c.0}}</td>
            <td>{{c.1}}</td>
            <a href="/editarCliente/{{c.0}}"style="text-decoration:none" >Editar</a>  <!-- la paso la clave primaria -->
            <a href="/eliminaCliente/{{c.0}}"style="text-decoration:none">Eliminar</a> <!-- la paso la clave primaria -->
        </tr>
{% endfor %} 