{% extends 'encabezado.html' %}

{% block body  %}

<form action="/registrarProducto" method="POST">
    <h1>Formulario</h1>
    <input type="number" name="codigo" placeholder="Codigo"><br>
    <input type="text"  name="nombre" placeholder="Nombre"><br>
    <input type="number" name="precio" placeholder="Precio"><br>
    <input type="number" name="stock" placeholder="Stock"><br>
    <input type="text" name="imagen" placeholder="Imagen"><br>
    <select name="proveedor" id="">
        <option value="">Seleccione un Proveedor</option>
        {% for p in proveedor %}
        <option value="{{p.0}}">{{p.1}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
        {% endfor %}
    </select><br>
    <select name="marca" id="">
        <option value="">Seleccione una Marca</option>
        {% for m in marcas %}
        <option value="{{m.0}}">{{m.1}} {{m.2}}</option> <!-- agrego el valor de la posicion 0 y lo pego en base de datos 
        y luego imprimo primero el nombre y luego el numero-->
        {% endfor %}
    </select><br>
    <button type="submit">Enviar</button>
</form>
{% with messages = get_flashed_messages()%}
{%if messages%}
{%for mensaje in messages%}
<p>{{mensaje}}</p>
{%endfor%}
{%endif%}
{%endwith%}
{% endblock  %}